@import "./colours.css";

.container {
width: 100%;
display: flex;
align-items: center;
margin-top: 10px;
background-color: var(--secondary-bg); /* Apply secondary background color /
color: var(--primary-text); / Apply primary text color */
}

.image {
width: 20%;
}

.text {
width: 80%;
display: inline-block;
padding-left: 10px;
text-align: left;
color: var(--secondary-text); /* Apply secondary text color */
}