@import "./colours.css";

.container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.todoBackground {
    background-color: var(--secondary-bg); /* Apply secondary background color */
}
  
.completedBackground {
    background-color: var(--mint);
}

.todoText {
    color: var(--primary-text); /* Apply primary text color */
}

.completedText {
    color: var(--black);
}

/* Completed Enough */
.completedEnoughBackground {
    background-color: var(--purple);
}
  
.completedEnoughText {
    color: var(--black);
}

/* Working On It */
.workingOnItBackground {
    background-color: var(--lilac);
}

.workingOnItText {
    color: var(--black);
}

.image {
    width: 20%;
}

.text {
    height:100%;
    width: 80%;
    display: inline-block;
    padding-left: 10px;
    text-align: left;
}